.authContainer {
  width: 100svw;
  height: 100svh;
  display: flex;
}

.leftSection {
  display: flex;
  flex: 1;
  /* background-color: rgb(234, 233, 233); */
  border-right: 1px solid #000;
  padding: 60px;
}

.leftSectionContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
}

.leftSectionHeader {
  display: flex;
  align-items: center;
  gap: 16px;
  background-color: white;
  width: 100%;
  height: fit-content;
}

.leftSectionHeaderLogo {
  width: 36px;
  height: 36px;
  justify-content: center;
  padding: 3px 4px;
  font-size: 11px;
  color: #fff;
  font-weight: 700;
  display: flex;
  align-items: flex-end;
  background-color: red;
  font-family: "Golos Text", system-ui, sans-serif;
}

.leftSectionHeaderTextContainer {
  /* background-color: yellow; */
}

.leftSectionHeaderText {
  font-size: 12px;
  color: rgb(32, 30, 29);
  font-family: "Golos Text", system-ui, sans-serif;
}

.leftSectionHeaderSubText {
  font-size: 12px;
  color: rgb(96, 93, 93);
  font-family: "Golos Text", system-ui, sans-serif;
}

.leftSectionDescription {
  display: flex;
  flex-direction: column;
  gap: 16px;
  line-height: 1.05;
  width: 100%;
  height: 50px;
  color: rgb(32, 30, 29);
}

.leftSectionDescriptionText {
  font-size: 16px;
  font-family: "Golos Text", system-ui, sans-serif;
  font-weight: 400;
  color: rgb(68, 65, 65);
}

.leftSectionDescriptionTitle {
  font-size: clamp(32px, 4vw, 50px);
  color: rgb(32, 30, 29);
  font-family: "Golos Text";
}

.leftSectionFooter {
  border-top: 2px solid rgb(32, 30, 29);
  width: 100%;
  height: 50px;
}

.rightSection {
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  border-left: 1px solid #000;
  padding: 60px;
  gap: 16px;
}

.rightSectionMode {
  border-bottom: 2px solid #000;
  padding: 10px 0px;
}

.signInText {
  color: rgb(96, 93, 93);
  /* color: rgb(68, 65, 65); */
  font-family: "Golos Text", system-ui, sans-serif;
  font-size: 14px;
  border-bottom: 2px solid transparent;
  padding-bottom: 10px;
  font-weight: 700;
  cursor: pointer;
}

.signInTextActive {
  color: rgb(32, 30, 29);
  border-bottom: 2px solid red;
}

.signUpText {
  /* color: rgb(68, 65, 65); */
  color: rgb(96, 93, 93);
  font-family: "Golos Text", system-ui, sans-serif;
  font-size: 14px;
  border-bottom: 2px solid transparent;
  padding-bottom: 10px;
  font-weight: 700;
  margin-left: 20px;
  cursor: pointer;
}

.signUpTextActive {
  color: rgb(32, 30, 29);
  border-bottom: 2px solid red;
}

.rightSectionHeader {
  font-size: 24px;
  font-family: "Golos Text";
  font-weight: 700;
  color: rgb(32, 30, 29);
}

.rightSectionInputContainer {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  font-family: "Golos Text", sans-serif;
  font-weight: 700;
  color: rgb(68, 65, 65);
}

.rightSectionInput {
  padding: 12px 16px;
  border: 1px solid rgb(32, 30, 29, 0.45);
  color: rgb(32, 30, 29);
  font-size: 12px;
  font-family: "Golos Text", sans-serif;
  font-weight: 700;
  outline: none;
  transition: border-color 0.3s ease;
}

.rightSectionInput:hover,
.rightSectionInput:focus {
  border: 1px solid red;
}

.rightSectionButton {
  display: flex;
  justify-content: space-between;
  background-color: red;
  border: 1px solid transparent;
  padding: 12px 16px;
  /* border: none; */
  width: 100%;
  display: flex;
  transition: border-color 0.3s ease;
  cursor: pointer;
}

.rightSectionButton:hover {
  border-color: #000;
}

.buttonText {
  color: #fff;
  font-family: "Golos Text", sans-serif;
  font-weight: 700;
  font-size: 16px;
}

.buttonArrow {
  width: 20px;
  height: 20px;
  color: #fff;
  transform: rotate(90deg);
}

.rightSectionForm {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
